#ignorar todos os diretorios listados abaixo em qualquer subdiretorio

build/
test/

Simulations-AutoFG-Waypoints/
UAV-Text-Commands/
ProcessDataFG/
ReaderKML/
ManagerSITL/
Text-Commands/
Results/

#ignorar todos os arquivos por extensao

*~
*.class
*.pyc
*.log
*.csv
*.o
*.err
*.rar
*.zip

#ignorar todos os arquivos por nome e extensao

cplex.jar
mav.parm
mav.tlog
mav.tlog.raw
exec-planner.sh
