#ignorar todos os arquivos por extensao

*~
*.class
*.pyc
*.log
*.csv
*.o
*.err
*.rar
*.zip

#ignorar todos os arquivos por nome e extensao

cplex.jar
mav.parm
mav.tlog
mav.tlog.raw

ideias-todo.txt
dicas-voo.txt

/Modules-Global/Camera/*.png
/Modules-Global/Camera/*.jpg
/Modules-Global/Camera/*.mov
/Modules-Global/Camera/*.cap
/Modules-Global/Camera/*.h264

/UAV-GCS/nbproject/private/
/UAV-GCS/build/
/UAV-GCS/test/

/UAV-Generic/nbproject/private/
/UAV-Generic/build/
/UAV-Generic/test/

/UAV-IFA/nbproject/private/
/UAV-IFA/build/
/UAV-IFA/test/

/UAV-MOSA/nbproject/private/
/UAV-MOSA/build/
/UAV-MOSA/test/

/UAV-Manager/nbproject/private/
/UAV-Manager/build/
/UAV-Manager/test/
/UAV-Manager/manager.properties

/UAV-Mission-Creator/nbproject/private/
/UAV-Mission-Creator/build/
/UAV-Mission-Creator/test/

/UAV-Monitoring/nbproject/private/
/UAV-Monitoring/build/
/UAV-Monitoring/test/

/UAV-PosAnalyser/nbproject/private/
/UAV-PosAnalyser/build/
/UAV-PosAnalyser/test/

/UAV-Tests/nbproject/private/
/UAV-Tests/build/
/UAV-Tests/test/
