#ignorar todos os diretorios listados abaixo em qualquer subdiretorio

nbproject/private/
build/
test/
venv/

#ignorar todos os arquivos por extensao

*~
*.class
*.pyc
*.log
*.csv
*.o
*.err
*.rar
*.zip

#ignorar todos os arquivos por nome e extensao

cplex.jar
mav.parm
mav.tlog
mav.tlog.raw

ideias-todo.txt
dicas-voo.txt
/UAV-Manager/nbproject/private/
/UAV-Manager/dist/